
/* body{
    background-image: url("../images/wallpaper.png");
    background-image: linear-gradient(to right,  #cff8de, #edfbff, #ffffff, #edfbff,  #cff8de);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Manrope', sans-serif;
}  */
/* ----------------------------------------------margins/spacing */

/* .mt-10{
    margin-top: 135px;
} */
/* -------------------------------------------menu e icono flotante */
/* .navbar{
    position:fixed;
    z-index: 2;
} */ 
/* .icon_flotante{
    position: fixed;
    z-index: 2;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
} */
/* ------------------------------------------------background */
/* .bg-verde{
    background-color: #B7F8CE;
}
.bg-grey{
    background-color: #f8fffa;
}
.bg-lightviolet{
    background-color: #E6DCF2;
} */
/*--------------------------------------------------------- BOTONES DEL MENU */

/* .nav-item a:hover{
    background-color: #B7F8CE;
    font-size: large;
} */
/*-----------------------------------------------------------SERVICIOS----- animation duration */
/* .animate__animated.animate__shakeX {
    --animate-duration: 3s;
    --animate-delay: 0.9s;
}
.animate__animated.animate__fadeInLeft{
    animation-duration: 8s;
} */